.App {
  text-align: center;
  max-width: 1024px; 
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.button {
    padding: 10px;
    border-radius: 5px;
    background: none;
    margin: 10px;
}
.counter-buttons {
    margin: 0 auto;
    padding: 30px;
}
.number-container {
    display: flex;
    flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
